<section class="top-section">
    <h3>{{heading}}</h3>
    <div class="row">
        <div ng-repeat="image in images">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <a ng-click="openLightboxModal($index)">
                        <img ng-src="{{image.url}}" class="img-rounded img-responsive" width="171" height="180">
                    </a>
                    <div class="caption text-center"><h4>{{image.title}}</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>