<div class="jumbotron text-center">
    <h1>{{heading}}</h1>
    <!--<p>This page demonstrates <span class="text-danger">nested</span> views.</p>-->

</div>

<div class="content">
    <div class="container">
        <div class="row">
            <ul class="post-grid" ng-show="updatesPage.isSelected('updates')">
                <li ng-repeat="post in updatesPage.posts" class="col-s-4" ng-class="{'reset-s' : $index%3==0}" ng-click="updatesPage.selectTab($index)">
                    <h3>{{post.header}}</h3>
                    <p>{{post.details | limitTo:70}}...</p>
                </li>
            </ul>

            <div class="post" ng-repeat="post in updatesPage.posts" ng-show="updatesPage.isSelected($index)">
                <div>
                    <h2>{{post.header}}</h2>
                    <!--<div ng-repeat="image in post.images">
                        <a ng-click="openLightboxModal($index)" class="thumbnail">
                                <img ng-src="{{image.url}}" class="img-rounded img-responsive grid-img img-loaded" >
                            </a>
                    </div>-->
                    <div class="dynamic-grid" angular-grid="post.images" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false">
                        <div ng-repeat="image in post.images" class="grid img-loaded angular-grid-item">
                            <a ng-click="openLightboxModal($index)" class="thumbnail">
                                <img ng-src="{{image.url}}" class="img-rounded img-responsive grid-img img-loaded" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-8 blog-main">
                <h2 class="blog-post-title">Sample</h2>
            </div>
            -->
        </div>
    </div>
</div>